# .gitignore у hometasks/
# Jupyter Notebook specific
.ipynb_checkpoints/
*.ipynb-checkpoint # Зайві файли контрольних точок

# Python
__pycache__/
*.pyc
*.log

# macOS specific
.DS_Store

# Якщо ви випадково покладете тут якісь тимчасові файли даних, ігноруйте 
їх:
*.csv
*.xlsx
*.json
